apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-frontend
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloud-frontend
  template:
    metadata:
      labels:
        app: cloud-frontend
    spec:
      containers:
      - name: frontend
        image: ghcr.io/haema-dev/cloud-frontend:3d746d3014155b87887ecf22cd657e7d6aa1ae5d
        ports:
        - containerPort: 80
        resources:
          limits:
            cpu: "200m"
            memory: "256Mi"
          requests:
            cpu: "100m"
            memory: "128Mi"
        # livenessProbe:
        #   httpGet:
        #     path: /
        #     port: 80
        #   initialDelaySeconds: 10
        # readinessProbe:
        #   httpGet:
        #     path: /
        #     port: 80