apiVersion: v1
kind: Service
metadata:
  name: backend-svc
  namespace: default
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 80
      targetPort: 8000
      nodePort: 30000 # VM 1의 Cloudflared가 바라볼 타겟 포트