# .github/workflows/simple-test.yml
name: Simple SSH Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTH_KEY }}
      
      - name: Simple Test
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.PROXMOX_VM_TAILSCALE_IP }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
                echo "Test 1: whoami"
                whoami
                
                echo "Test 2: docker version"
                docker --version || echo "Docker not installed"
                
                echo "Test 3: kubeadm version"
                sudo kubeadm version || echo "kubeadm not installed"
                
                echo "All tests done"
